/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

select:focus,
select:hover,
option:hover,
option:focus {
  border:none;
  outline:none;
  border:transparent;
}
/* The end of reseting CSS */


/* Control Block */
.control-block_languages {
  width: 70px;
  height: 45px;
  border: none;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  color: white;
  text-align: center;
  text-align-last: center;
  margin: 0 10px;
}

.control-block_choose-degrees input[type="radio"] {
  display: none;
}

.labels-for-degrees-inputs div {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4);
}

.celsius {
  border-radius: 5px 0 0 5px;
}

.fahrenheit {
  border-radius: 0 5px 5px 0;
}

.labels-for-degrees-inputs div p {
  margin: auto;
}

.labels-for-degrees-inputs {
  display: flex;
}

input[type="radio"]:checked + label div {
  background: rgba(174, 181, 185, 0.5);
}

.control-block_buttons {
  display: flex;
}

body {
	background: url("assets/kosmicheskaya-mirovozzrenie.jpg");
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.search-input {
	display: inline-flex;
	padding: 15px;
	background: rgba(76, 82, 85, 0.4);
	border: 1px solid rgba(228, 227, 227, 0.2);
}

#search-input {
	border: 0;
	width: 250px;
	background: transparent;
	outline: none;
	color: white;
}

.control-block_search {
	display: flex;
}

.search-btn {
	display: flex;
	align-items: center;
	padding: 15px 20px;
	background: rgba(174, 181, 185, 0.5);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.search-btn:active {
	background: rgba(174, 181, 300, 0.5);
}

.control-block {
	display: flex;
	justify-content: space-between;
}

.content-wrapper {
	max-width: 1260px;
	padding: 40px 0px 100px;
	margin: 0 auto;
}

#refresh-bg {
	cursor: pointer;
}

.weather-for-today h2 {
	font-weight: bold;
	font-size: 44px;
	line-height: 55px;
	text-transform: uppercase;
}

.weather-for-today h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
}

.temperature {
	display: flex;
	margin-top: 30px;
}

.temperature p {
	font-weight: bold;
	font-size: 300px;
	line-height: 370px;
}

.weather-for-today_weather-description-block {
	display: flex;
	justify-content: space-between;
}

.weather-description {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
}

.weather-for-3-days {
	display: flex;
	justify-content: space-between;
}

.weather-for-3-days_element p {
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
}

.temperature-next-days p {
	font-weight: 600;
	font-size: 80px;
	line-height: 100px;
}

.temperature-next-days {
	display: flex;
	justify-content: space-between;
}

.temperature-next-days img {
	position: relative;
	top: 0;
}

#map {
		width: 375px;
		height: 375px;
}

.weather-and-map {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.map-container p {
	text-align: right;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.lon {
	margin-top: 10px;
}

.temperature img {
	width: 150px;
	height: 150px;
}
